body {
    background-image: url(360_F_396007562_FPXMDvZROZp0Cnnn4hLX2Zs5zBPyQTFV.jpg);
    background-repeat : no-repeat ;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    background-color: grey;
    text-align: none;
}
.test {
    color: white;
}
.title {
    color: black;
    font-family :'Courier New', Courier, monospace; 
    font-size: 50px ;
    border: 7px solid blue ;
    border-radius: 20px; 
    text-shadow: 8px 3px 5px red,-8px -3px 5px cyan ;
   
}


ul{
    list-style: none;
}
    
.medium{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.right-nav{
    padding: 8px 15px;
    float: right;
}


div.container{
    font-family: Raleway;
    margin: 0 auto;
    padding: 6px 3em;
    text-align: center;
}

div.container a
{
    color: #000;
    text-decoration: none;
    margin: 0px 20px;
    padding: 5px 5px;
    position: relative;
}

.span {
    display: none;
}

.box {
    border: 5px solid ;
    width: 200px ;
    height: 200px ; 
    margin: auto ;
 position: static;
}

 
/*
 ul {
 text-align: center;
 font-family:Arial, Helvetica, sans-serif ;
 font-size: 1.1em ;
 color:aliceblue ;
 border: 7px dotted orange;
 border-radius: 20px; 
    text-shadow: 8px 3px 5px rgb(94, 255, 0),-8px -3px 5px rgb(234, 254, 52) ;
}

 li:hover::first-letter {
font-size: 1.5em;
background-color: grey ;
font-style: italic ;
 }




 a:hover {
    background-color: hsl(221, 100%, 67%) ;

*/

 * {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-family: arial, tahoma;
    list-style: none;
  }
  
  
  
  
  header {
    background-color: #333;
    height: 500px;
  }
  
  
  nav {
    height: 80px;
    background-color: #222;
    border-bottom: 1px solid #555
  }
  .logo {
    padding: 10px;
    width: auto;
    float: left;
  }
  .logo img {
    height: 55px;
  }
  .list-item {
    float: right;
    margin-right: 25px;
    margin-top: 17px;
  }
  .list-item li {
    float: left;
    padding: 13px 13px;
    font-size: 18px;
    border-radius: 3px;
    transition: all .7s ease-in-out;
  }
  .list-item li a {
    color: #EEE;
  }
  .list-item li:hover {
    background-color: brown;
  }
  
  .icon {
    display: none;
  }
  .toggle {
    float: right;
    margin: 20px;
    color: #EEE;
    font-size: 30px;
    border: 1px solid #EEE;
    padding: 0px 5px;
    border-radius: 4px;
    cursor: pointer;
  }
  

  
  @media (max-width: 1309px) {
    .icon {
      display: block;
      width: 100%;
      height: 80px;
      background-color: #111;
      border-bottom: 1px solid #444;
    }
   
    .list-item {
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        top: -4px;
        background-color: #222;
        display: none;
      }
      .list-item li {
        text-align: center;
        display: block;
        border-bottom: 1px solid #333;
        float: none;
      }
    }

    #video a:hover {
    background-color: hsl(221, 81%, 86%) ;
    font-size: 1.1em;
}
#video a:not(:hover) {
    background-color: hsl(0, 0%, 60%) ;
    font-size: 1.1em;
}
 a:active {
    color: hsl(240,100%, 58%) ;
    font-size: 1.1em;
}
 a:visited {
    color: hsl(0, 60%, 35%)
}
.pagination {
    position: fixed;
    width: 100%;
    background: white;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #E8E8E8;
    text-decoration: none;
}
 
 
.pagination a{
 color: black ;
 margin: 15px ;
 text-decoration: none;
}

.pagination a.active {
background-color: hsl(120, 100%, 70%);

}

pre {
    border-top: 6px solid palevioletred;
    border-bottom: 3px solid palevioletred ;
    border-left: 3px dotted orange ;
    border-right : 3px dotted orange;
    border-radius: 20px; 
    padding : 25px;
    height : auto ;
    width : 90%;
text-align: center;
color:aliceblue ;
    
    overflow : auto ;
}

pre::selection {
    color: rgb(89, 255, 71) ;
    background-color: rgb(26, 26, 26);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.title2 {
    color: greenyellow
}
.intro {
    color:red;
    font-family : Verdana, Geneva, Tahoma, sans-serif; 
    font-size :larger
}